.radio {
    width: 20px;
    height: 20px;
    background: #000000;
    cursor: pointer;
    border: 1px solid #4c2f27;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    flex-direction: row;
    gap: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.options {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    row-gap: 18px;
}


