.select {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    width: 180px;
    height: 24px;
    position: relative;
    display: block;
    color: #A9A9A9;
}

.select:focus {
    color: black;
}


.option:hover {
}
