.pagination {
    display: flex;
    margin-bottom: 20px;
    z-index: 10;
    align-items: center;
    width: 50vw;
}

.text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.select {
    width: 40px;
    margin: 0 5px;
}
